$default-font: 'Roboto', sans-serif;
$default-dim-back: #333333;
$default-background: #1F1F1F;
$default-shiny: #ff7f00;
$messages-size: 1em;
$messages-color: whitesmoke;
$dividers-color: rgba(255, 252, 252, 0.16) ;
$button-highlight-color: #777777;
$settings-menu-width: 250px;
$indicator-size: 12px;
$contact-message-button: 65px;
$user-info-height: 110px;
$input-description-color: #7c7c7c;
$message-input-wrapper-border: 3px solid rgba(255, 252, 252, 0.16);
$card-hover-color: rgba(88, 88, 88, 0.5);
$search-icon: url(../images/search.png);

@import "style";