$default-font: 'Roboto', sans-serif;
$default-dim-back: rgba(88, 88, 88, 0.70);
$default-background: whitesmoke;
$default-shiny: #ff7f00;
$messages-size: 1em;
$messages-color: black;
$dividers-color: rgba(1, 1, 1, 0.9) ;
$button-highlight-color: #777777;
$settings-menu-width: 250px;
$indicator-size: 12px;
$contact-message-button: 65px;
$user-info-height: 110px;
$input-description-color: black;
$message-input-wrapper-border: 3px solid rgba(1, 1, 1, 0.60);
$card-hover-color: rgba(88, 88, 88, 0.16);
$search-icon: url(../images/searchBlack.png);

@import "style";

.input-description, .input-field, .search-input {
    text-shadow: none;
}

.input-field:focus, .search-input:focus {
    color: black;
}