body {
    margin: 0px;
    background-color: $default-background;
}

img {
    -webkit-user-select: none;
    user-select: none;
}

textarea:focus, input:focus {
    outline: none;
}

$header-height: 35px;
$header-button-height: 35px;

.header-wrapper {
    background-color: $default-dim-back;
    position: relative;
    display: flex;
    height: $header-height;
    -webkit-app-region: drag
}

.header-name {
    font-family: $default-font;
    font-size: 20px;
    color: $default-shiny;
    margin: 5px 0 0 10px;
    text-shadow: 1px 1px 1px black;
    display: inline-flex;
}

.header-letter-intend {
    margin-right: 1px;
}

.header-logo {
    background: url(../images/small-logo.png) no-repeat;
    width: 24px;
    background-size: contain;
}

.header-button {
    display: inline-block;
    height: 35px;
    width: 50px;
    position: absolute;
    -webkit-app-region: no-drag;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.logout-button {
    @extend .header-button;
    width: 35px;
    position: inherit;
    float: left;
    margin: 0 1px 1px 0;
    background: url(../images/logout.png) no-repeat center;
    background-size: contain;
}

.settings-button {
    @extend .header-button;
    width: 35px;
    position: inherit;
    float: left;
    margin: 0 1px 1px 0;
    background: url(../images/settings.png) no-repeat center;
    background-size: contain;
}

.exit-button {
    @extend .header-button;
    margin: 0 1px 1px 0;
    background: url(../images/exit.png) no-repeat center;
    right: 0;
    background-size: contain;
}

.maximize-button {
    @extend .header-button;
    margin: 0 1px 1px 0;
    background: url(../images/maximize.png) no-repeat center;
    right: 52px;
    background-size: contain;
}

.minimize-button {
    @extend .header-button;
    margin: 0 1px 1px 0;
    background: url(../images/minimize.png) no-repeat center;
    right: 102px;
    background-size: contain;
}

.header-button:hover {
    cursor: pointer;
}

.exit-button:hover {
    cursor: pointer;
    background-color: crimson;
}

.minimize-button:hover, .maximize-button:hover, .settings-button:hover, .logout-button:hover {
    cursor: pointer;
    background-color: $button-highlight-color;
}

.side-menu-wrapper {
    position: absolute;
    width: $settings-menu-width;
    top: 35px;
    bottom: 0;
    right: 0;
}

.contact-info-search {
    position: absolute;
    width: 100%;
    height: 149px;
    border-bottom: 1px solid $dividers-color;
}

.contact-list-wrapper {
    position: absolute;
    overflow-y: auto;
    top: $user-info-height;
    width: 100%;
    bottom: 0;
    right: 0;
    border-top: 1px solid $dividers-color;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $default-background;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: $default-background;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $default-shiny;
}

.contact-wrapper {
    display: flex;
    align-content: center;
    color: $default-shiny;
    overflow-x: hidden;
    background-color: $default-background;
    border-top: 1px solid $dividers-color;
    border-bottom: 1px solid $dividers-color;
    position: relative;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
}

.contact-wrapper:hover {
    background-color: $card-hover-color;
}

.contact-image {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: inline-block;
    margin: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5px;
}

.indicator-wrapper {
    display: inherit;
}

.indicator {
    border: 2px solid black;
    height: $indicator-size;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: $indicator-size;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 45px;
}

.contact-name {
    align-content: inherit;
    display: inherit;
    font-family: $default-font;
    font-size: 1.1em;
    position: absolute;
    top: 30%;
    left: $contact-message-button;
    text-shadow: 1px 1px #505005;
    text-overflow: ellipsis;
}

.contact-add {
    background: url(../images/add.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 30%;
    right: 5px;
    width: 20px;
    height: 20px;
}

.contacts-divider {
    margin: 10px 5px;
    border-color: $dividers-color;

}

.contacts-error {
    color: $messages-color;
    font-size: $messages-size;
    text-align: center;
}

.green {
    background-color: greenyellow;
}

.red {
    background-color: darkred;
}

.white {
    background-color: whitesmoke;
}

.message-button {
    background: url(../images/mail.png) no-repeat;
    height: 17px;
    width: 24px;
    bottom: 18%;
    position: absolute;
    left: $contact-message-button;
}

.message-button:hover {
    background: url(../images/mail-hover.png) no-repeat;
}

.message-wrapper {
    background-color: $default-background;
    left: 0;
    border-right: 2px solid $dividers-color;
    position: absolute;
    top: 35px;
    bottom: 0;
    right: $settings-menu-width;
}

.chat {
    position: absolute;
    top: 0;
    bottom: 10%;
    list-style: none;
    background: none;
    margin: 0;
    overflow-y: scroll;
    padding: 0 5%;
    width: 90%;
}


.chat li {
    overflow: hidden;
    display: flex;
}

.message-input-wrapper {
    width: 90%;
    padding: 0 5%;
    position: absolute;
    left: 0;
    right: 0;
    height: 10%;
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: $default-background;
    border-top: $message-input-wrapper-border;
}

.message-input {
    border: 0;
    margin: 10px 0;
    width: 100%;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    outline: 0;
    color: $messages-color;
    background: transparent;
    resize: none;
    font-family: $default-font;
    font-size: $messages-size;
}


.message-input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.msg-link {
    text-align: center;
    align-self: center;
    text-decoration: underline;
    color: $messages-color;
    cursor: pointer;
    margin: 0 auto;
}

.msg .other {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
    padding-left: 10px;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
    float: right;
    text-align: right;
    padding-right: 10px;
}

.msg .self {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
}

.msg {
    width: 100%;
    border-radius: 2px;
    padding: 10px 0;
    color: $messages-color;
    font-family: $default-font;
    font-size: $messages-size;
}

.msg-container{
    width: 100% ;
}

.msg-text-container {
    margin-left: 40px;

}

.msg-text {
    width: 100%;
    min-height: 20px;
    padding: 6px 0;
    border-radius: 24%;
    word-wrap: break-word;
}

.msg-date {
    font-size: 10px;
    color: #D4D4D4;
    padding-left: 5px;
}

.msg-photo {
    border-radius: 2px;
    position: relative;
    top: 35px;
    max-height: 32px;
    max-width: 32px;
}

.message-send {
    height: 66px;
    width: 57px;
}

.input-description {
    font-family: $default-font;
    text-align: center;
    margin-top: 15px;
    text-shadow: 1px 1px black;
    max-width: 500px;
    font-size: 1.1em;
    display: block;
    font-weight: 600;
    user-select: none;
    color: $input-description-color;
}

.logreg-container {
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-field {
    @extend .input-description;
    height: 1.2em;
    display: block;
    width: 50%;
    border: 0;
    outline: 0;
    color: #a6a6a6;
    background: transparent;
    border-bottom: 2px solid #3e3e3e;
    padding-bottom: 0.2em;
    font-size: 1.2em;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
}

.input-field:focus {
    box-shadow: 0 1px 0 $default-shiny;
    color: white;
}

.input-single-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.input-has-error {
    color: red;
    font-family: $default-font;
    font-weight: 300;
    text-align: center;
    user-select: none;
    margin-top: 5px;
    height: 19px;
}

.login-logo {
    height: 30vh;
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/logo.png) no-repeat;
    background-position: center;
    background-size: contain;
    user-select: none;
}

.button-logreg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 30%;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    background-color: $default-shiny;
    border: 0;
    border-radius: 2px;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    transition-duration: 0.3s;
    cursor: pointer;
    font-family: $default-font;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
}

.button-logreg:hover {
    background-color: rgba(255, 141, 29, 0.96);
    box-shadow: 2px 2px 5px black;
}

.settings {
    @extend .message-wrapper;
    z-index: 400;
    overflow: auto;
}

.settings-exit {
    background: url(../images/exit.png) no-repeat center $default-dim-back;
}

.settings-container {
    padding-left: 25px;
}

.settings-collapser-title {
    font-family: $default-font;
    color: $messages-color;
    font-size: 1.1em;
    border-top: 1px solid $dividers-color;
    cursor: pointer;
    padding: 15px;
    user-select: none;
}

.settings-collapser-indicator {
    float: right;
    width: 15px;
    height: 15px;
}

.settings-collapser-off {
    @extend .settings-collapser-indicator;
    background: url(../images/expanded.png) no-repeat center $default-background;
    background-size: contain;
}

.settings-collapser-on {
    @extend .settings-collapser-indicator;
    background: url(../images/expand.png) no-repeat center $default-background;
    background-size: contain;
}

.settings-input-description {
    text-align: left;
}

.settings-input {
    text-align: left;
    width: 80%;
}

.settings-input-error {
    text-align: left;
}

.settings-btn {
    display: initial;
    height: 25px;
    margin-bottom: 25px;
}

.settings-checkbox {
    -webkit-appearance: none;
    background-color: $messages-color;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 0.5em;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin: 0;
}

.settings-checkbox:active, .settings-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.settings-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.settings-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: -3px;
    left: 0px;
    color: $default-shiny;
}

.settings-checkbox-title {
    color: $messages-color;
    font-size: $messages-size;
    font-family: $default-font;
    margin-left: 5px;
}

.contact-search {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 15px;
}

.search-input {
    @extend .input-field;
    width: 195px;
    font-weight: 100;
    text-align: left;
    padding-left: 25px;
}

.user-info-wrapper {
    height: $user-info-height;
    position: relative;
}

.user-info {
    position: absolute;
    width: 100%;
    top: 5px;
}

.search-icon {
    background: $search-icon no-repeat center $default-background;
    background-size: contain;
    height: 1.1em;
    width: 1.1em;
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    bottom: 10px;
}

.user-name {
    color: $messages-color;
    font-size: 1.1em;
    position: absolute;
    top: 18px;
    left: 65px;
    right: 0;
    font-family: $default-font;
}

.react-contextmenu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
}

.react-contextmenu-item {
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item:hover {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    color: #878a8c;
    background-color: transparent;
    border-color: rgba(0, 0, 0, .15);
}

.react-contextmenu-item--divider {
    margin-bottom: 3px;
    padding: 2px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    cursor: inherit;
}

.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .15);
}

.react-contextmenu-item.react-contextmenu-submenu {
    padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}

.rc-slider {
    position: relative;
    height: 14px;
    padding: 5px 0;
    width: 80%;
    border-radius: 6px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-rail {
    position: absolute;
    width: 100%;
    background-color: whitesmoke;
    height: 4px;
    border-radius: 6px;
}

.rc-slider-track {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 6px;
    background-color: $default-shiny;
}

.rc-slider-handle {
    position: absolute;
    margin-left: -7px;
    margin-top: -5px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px whitesmoke;
    background-color: #fff;
}

pre {
    background: #f7f7f7;
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

pre code {
    line-height: 20px;
}

.result {
    padding: 8px 0;
}

.Dropdown-root {
    position: relative;
    width: 80%;
    margin-top: 10px;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
}

.Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0
}

.is-open .Dropdown-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

.Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1.2);
    font-weight: bold;
    text-transform: capitalize;
}

.Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
    background-color: rgba(255, 236, 217, 0.96);
    color: #333;
}

.Dropdown-option.is-selected {
    background-color: rgba(255, 236, 217, 0.97);
    color: #333;
}

.Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}

.dropzone-container {
    width: 98%;
    cursor: hand;
    height: 100px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
}
