﻿@model string



@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ISON Registration confirmation</title>
</head>
<body>
<div>
    Congrats! Your account has been activated. Now you can login through your app.
</div>
</body>

</html>